* {
  font-family: "Roboto Mono", monospace;
}

button {
  font-family: "Roboto", sans-serif !important;
}

#root {
  background: linear-gradient(180deg, rgb(235, 240, 248) 10%, #c4f1f9);
  min-height: 100vh;
}
