* {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

button {
  font-family: "Roboto", sans-serif !important;
}

#root {
  /* background: linear-gradient(180deg, rgb(223, 231, 243) 10%, #c4f1f9); */
  min-height: 100vh;
}
